* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: Arial Unicode MS, Lucida Sans Unicode;
}

h3 {
  margin-bottom: 0.5em;
}

.structure {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.top-component {
  display: flex;
  flex-direction: row;
}

.fretboard-active {
  padding-left: 2em;
}

.fretboards {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.fretboard {
  padding-right: 2em;
  padding-top: 2em;
}

.chord-meta {
  display: flex;
  flex-direction: row;

  line-height: 45px;
  width: 200px;
  height: 45px;
  /* transform: translate3d(-11%, 0, 0); */
  background: #eee;
  color: #333;
  border-radius: 15px;
  border: 2px solid #333;
}

.chord-meta-item {
  flex-basis: 33%;
}

.hidden {
  display: none;
}

.chord-actions {
  display: flex;
  flex-direction: row-reverse;
  padding-bottom: 0.2em;
}

.chord-action-delete {
  border-radius: 100%;
  background-color: #ccc;
  color: #555;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
}

.chord-action-delete:hover {
  background-color: #aaa;
}

.chord-info {
  text-align: center;
}

.chord-info sup {
  /* So that <sup> doesn't push the .chord-info text down. */
  line-height: 0;
}

.string {
  width: 50px;
  float: left;
  padding-left: 25px;
}

.fret {
  width: 50px;
  height: 50px;
  display: block;
  border-bottom: 5px solid #333;
  border-left: 2px solid #333;
}

/* Open strings */
.fret:first-child {
  background-color: #999;
  height: 50px;
  border-bottom: 12px solid #333;
}

.string:last-child .fret:first-child {
  background-color: inherit;
}

/* Open strings */
.string .fret:first-child .circle {
  background-color: #eee;
  border: 2px solid #333;
  color: #333;
  transform: translate3d(-50%, 7%, 0);

  /* Use content-box sizing so that visually it looks the same size as the other circles,
   * which don't have borders. */
  box-sizing: content-box;
}

/* When a string shouldn't be played */
.string .fret:first-child .circle.no-play {
  /* background-color: #e69868; */
}

.string:last-child .fret {
  border-bottom: none;
  height: 50px;
}

.circle {
  border-radius: 100%;
  background-color: #333;
  color: #ffffff;
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  transform: translate3d(-50%, 25%, 0);
}

.circle.barre {
  width: 50px;
  border-radius: unset;
}

.circle.barre.first {
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}

.circle.barre.last {
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}

.circle-info {
  width: 30px;
  height: 30px;
  display: block;
  transform: translate3d(0%, 20%, 0);
  text-align: center;
  font-size: 0.9em;
  font-family: Arial Unicode MS, Lucida Sans Unicode;

  margin-left: auto;
  margin-right: auto;
}

.fret-marker {
  transform: translate3d(0%, 15%, 0);
  position: absolute;
  width: 50px;
  height: 50px;
  font-size: 1.5em;
  text-align: center;
}

.chord-selector-section {
  flex-basis: 50%;
  max-width: 400px;
}

.selector-section {
  display: flex;
  flex-wrap: wrap;
}

.selection {
  min-width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;

  float: left;
  margin: 0 10px 5px 0;
  padding: 0 10px;
  color: #eee;
}

.selection.wide {
  min-width: 100px;
}

.clickable {
  cursor: pointer;
}

.not-clickable {
  cursor: not-allowed;
}

.btn {
  background: #222;
  border-radius: 13px;

  /* Don't allow user to select text. Make it behave more like a button.
   * https://stackoverflow.com/questions/6900124/how-to-make-certain-text-not-selectable-with-css
   */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.btn:hover {
  background: red;
}

.btn.selected {
  background: green;
}

.btn.not-clickable {
  background: #999;
}

.btn.not-clickable:hover {
  background: #aaa;
}

.add-chord {
  margin-top: 1em;
}

.added-fretboards h3 {
  margin-bottom: -1em;
}

@media (max-width: 600px) {
  .top-component {
    flex-direction: column;
  }

  .fretboard-active {
    margin-left: auto;
    margin-right: auto;

    /* Clear padding because we're centering it.
    The padding needed is handled by .fretboard */
    padding-left: 0;
  }

  .fretboard {
    margin-left: auto;
    margin-right: auto;

    /* Make it look centered. */
    padding-left: 1.6em;
  }
}