body {
  font-size: 16px;
  font-family: Arial Unicode MS, Lucida Sans Unicode;
}

.fretboard {
  position: relative;
  margin: 4em;
  float: left;
}

.chord-info {
  line-height: 2em;
  width: 200px;
  height: 40px;
  background: #eee;
  color: #333;
  text-align: center;
  transform: translate3d(-11%, 0, 0);
  border-radius: 15px;
  border: 2px solid #333;
}

.string {
  width: 50px;
  float: left;
}

.fret {
  width: 48px;
  height: 45px;
  display: block;
  border-bottom: 5px solid #333;
  border-left: 2px solid #333;
}

/* Open strings */
.fret:first-child {
  background-color: #999;
  height: 38px;
  border-bottom: 12px solid #333;
}

.string:last-child .fret:first-child {
  background-color: inherit;
}

/* Open strings */
.string .fret:first-child .circle {
  background-color: #eee;
  border: 2px solid #333;
  color: #333;
  transform: translate3d(-50%, 7%, 0);
}

.string:last-child .fret {
  border-bottom: none;
  height: 50px;
}

.circle {
  border-radius: 100%;
  background-color: #333;
  color: #ffffff;
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  transform: translate3d(-50%, 25%, 0);
}

.circle.barre {
  width: 45px;
}

.circle.barre.first {
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
}

.circle.barre.last {
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
}

.circle-info {
  width: 30px;
  height: 30px;
  display: block;
  transform: translate3d(0%, 20%, 0);
  text-align: center;
  font-size: 0.9em;
  font-family: Arial Unicode MS, Lucida Sans Unicode;

  margin-left: auto;
  margin-right: auto;
}

.chord-selector {
}

.selector-section {
  height: 60px;
}

.selection {
  min-width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;

  float: left;
  margin: 0 10px 0 0;
  padding: 5px;
  color: #eee;
}

.btn {
  cursor: pointer;
  background: #222;
  border: 2px solid #333;
  border-radius: 13px;

  /* Don't allow user to select text. Make it behave more like a button.
   * https://stackoverflow.com/questions/6900124/how-to-make-certain-text-not-selectable-with-css
   */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.btn:hover {
  background: red;
}

.btn.selected {
  background: green;
}